.mainSection {
    /*background-color: */
    background: -webkit-linear-gradient(left top, #95979b, #2c3138);
    height: 100%;
    z-index: 0;
    width: 100vw;
    top: 0;
    position: fixed;
    overflow-x: scroll;
    padding-top: 8vh;
    transition: all 1s ease;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 5vh;
    border-radius: 3px;

}

.background {
    background-color: #2c3138;
}

.slideout-opened {
    padding-left: 15%;
    padding-right: 20%;
}

.preview-main {
    position: fixed;
    top: 8vh;
    width: 40vw;
    height: 57vh;
    display: block;
    margin-top: 20px;
    margin-left: 15%;
    border: 3px solid #2c3138;
    border-radius: 3px;
}

.preview {

    width: 39vw;
    height: 47vh;
    display: block;
    margin:auto;
}

.exif-main {
    max-height: 10vh;
    max-width: 40vw;
    border-top: 3px solid #2c3138;
    /*width: 44vw;*/
    height: 10vh;
    display: block;
    margin:auto;
    /*margin-top: 400px;*/
}

.exif-preview {
    padding-left: 5px;
}

.preview-img {
    max-width: 39vw;
    max-height: 47vh;
    margin: auto;
    display: block;
}

.thumb-main {
    position: fixed;
    width: 100vw;
    height: 30vh;
    bottom: 0;
    float: left;
    overflow-x: scroll;
    padding-bottom: 10px;
    padding-right: 10px;
}

.thumbnail-style {
    float: right;
    border: none !important;
}


.thumb-img-container{
    display: block;
    float: right;
    margin: 1px 0px 3px 10px;
    width: 100px;
    height: 100px;

}

a {
    top:0;
}

.check{
    opacity: 0;
    display: inline-block;
    position: relative;
}

.thumb-img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.display-check {
    opacity: 1;
    color: #e28016;
    position: relative;
    display: inline-block;
    transform: translateY(-50px);
    transition: opacity 3s;
    top:0;
}

.report-main {
    background-color: #2c3138;
    opacity: .6;
    width: 83vw;
    height: 87vh;
    right:0;
    position: relative;

}

#db-img {
    width: 538px;
    height: 353px;
}