
.nav-bar {
    height: 8vh;
    width: 100%;
    background-color: #e28016;
    z-index: 500;
    position: fixed;
    font-family: 'Oswald', sans-serif;
}

.right-align {
    right: 0;
    position: absolute;
}

/*.slide-out-background {*/
    /*color: #A5A5AF;*/
/*}*/

.text-color {
    color: white;
}

.left-padding {
    padding-left: 1vw;
}

.icon-size {
    height: 24px;
    width: 24px;
    position: fixed;
    /*z-index: 501;*/
    vertical-align: middle;
    top: 2.5vh;
    /*padding-left: px;*/
}

.team-name {
    margin: 0;
    vertical-align: middle;
    padding-top: 2.75vh !important;
    padding-right: 5px !important;
}