
.sidebar {
  background-color: #2c3138;
  opacity: .6;
      /*#A5A5AF*/
  width: 15%;
  height: 100vh;
  position: fluid;
  padding-top: 8vh;
  font-family: 'Oswald', sans-serif;

}

.sidebar-animate {
  top: 8vh;
  left: 0;
}

.sidebar-main {
  top: 0;
  border-radius: 5px;
}

.input-padding {
padding-top: 10px;
}

.arrow-style {
  vertical-align: middle;

}

.arrow-style:hover {
  color: #2c3138;
}

.input-button {
    width: 15%;
}